<div class="genre-dialog-container">
  <h1 matDialogTitle class="title">
    {{ genre.name }} - Genre
    <hr />
  </h1>

  <mat-dialog-content>
    <mat-card class="genre-description">
      <h2>{{ genre.name }}</h2>
      <p>{{ genre.description }}</p>
    </mat-card>

    <h3>Movies in this genre</h3>
    <div class="movies-grid">
      <app-movie-card
        *ngFor="let movie of moviesInSameGenre"
        class="movie-card"
        [movie]="movie"
      ></app-movie-card>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button matDialogClose>Close dialog</button>
  </mat-dialog-actions>
</div>
