<div class="movie-card-container">
  <mat-card class="movie-card">
    <!--<mat-card-header> -->
    <!-- Remove the title from here -->
    <!--</mat-card-header> -->
    <!-- Add click event to the image -->
    <img
      mat-card-image
      [src]="movie.imageURL"
      [alt]="movie.title"
      (click)="navigateToMovieDetails(movie.title)"
      style="cursor: pointer"
    />
    <mat-card-actions>
      <button mat-button (click)="openGenreDialog(movie.genre)">Genre</button>
      <button mat-button (click)="openDirectorDialog(movie)">Director</button>
      <button
        mat-button
        color="accent"
        (click)="toggleFavorite(movie)"
        [class.favorited]="isFavorite(movie)"
      >
        {{ isFavorite(movie) ? "Remove from Favorites" : "Add to Favorites" }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
