/* Container for the movie card */

.movie-card-container {
  margin-top: 60px; // Add space between menu bar and movie card
  padding: 0 20px; // Optional: Add horizontal padding for better alignment
}

.movie-card {
  max-width: 300px; /* Adjust the width as needed */
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for the card */
.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Styling for the card image */
.movie-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.movie-card img:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Styling for the card actions */
.movie-card mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #0a0d18;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Default button styling */
.movie-card mat-card-actions button {
  font-size: 0.875rem;
  color: #95969b; /* Gray text color */
  background: transparent; /* Transparent background */
  //border: 1px solid #95969b; /* Gray border */
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

/* Hover effect for buttons */
.movie-card mat-card-actions button:hover {
  color: #fafafa; /* White text on hover */
  border-color: #fafafa; /* White border on hover */
  background-color: transparent; /* Keep background transparent */
}

/* Styling for the "Add to Favorites" button */
.movie-card mat-card-actions button[color="accent"] {
  color: #95969b; /* Gray text color */
  background: transparent; /* Transparent background */
  //border: 1px solid #95969b; /* Gray border */
}

/* Hover effect for the "Add to Favorites" button */
.movie-card mat-card-actions button[color="accent"]:hover {
  color: #fafafa; /* White text on hover */
  border-color: #fafafa; /* White border on hover */
}
