<mat-card class="navbar">
  <div class="nav-container">
    <!-- Logo aligned to the left -->
    <span (click)="navigateToMovies()" class="logo">
      <img
        src="imghh.png"
        alt="Logo"
        width="143.2"
        height="40"
        alt="Logo of myFlix that navigates to the welcome page"
        matTooltip="Navigate to welcome page"
      />
    </span>

    <!-- Buttons aligned to the right -->
    <div class="nav-buttons">
      <button
        mat-button
        [class.active]="isOnMoviesRoute()"
        (click)="navigateToMovies()"
      >
        Movies
      </button>
      <button
        mat-button
        [class.active]="isOnProfileRoute()"
        (click)="navigateToProfile()"
      >
        Profile
      </button>
      <button mat-button (click)="navigateToWelcome()">Logout</button>
    </div>
  </div>
</mat-card>
