:host {
  display: block;
  padding: 16px;
  background-color: #0a0d18;
}

.container {
  background-color: #0a0d18;
  display: flex;
  flex-direction: column; // Stack children vertically
  height: 100vh; // Full viewport height
}

app-menu-bar {
  flex: 0 0 auto; // Don't grow or shrink, just take up required space
}

.content {
  flex: 1; // Take up remaining space
  //overflow-y: auto; // Add scroll if content overflows
  background-color: #0a0d18;
}
